{% extends "base.html" %}
{% block content %}


<main>
    <h2>All Wheelie Wild Campervans</h2>
    <h3>Vans Currently In Use </h3>
    <section id="all_objects">
        {% for van in currently_in_use %}
        <section class=booked_thumbnail>
            <h4> <a href="/vans/{{ van.id }}">{{ van.van_name }}</a> </h4>
        </section>
        {% endfor %}
    </section>

    <h3>All Vans In Fleet </h3>
    <section id="all_objects">
        {% for van in vans %}
        <section class=thumbnail>
            <h3><a href="/vans/{{ van.id }}">{{van.van_name }}</a></h3>
            <p>Sleeps {{ van.capacity }}</p>
            <p>{{ van.year }} </p>
            <p>{{ van.type }} </p>
        </section>
        {% endfor %}
    </section>
</main>

{% endblock %}