{% extends "base.html" %}
{% block content %}

<h2>All Wheelie Wild Campervans</h2>

<main>
    <section id="all_objects">
        {% for van in vans %}
        <section class=thumbnail>
            <h3><a href="/vans/{{ van.id }}">{{van.van_name }}</a></h3>
            <form action="/vans/{{ van.id }}/edit_van">
                <input type="submit" value="Edit Van"></input>
            </form>
            <form action="/vans/{{ van.id }}/delete" method="POST">
                <input type="submit" value="Delete">
            </form>
        </section>
        {% endfor %}
    </section>


    <form action="/vans" method="POST">
        <label for="van_name">Name:</label>
        <input type="text" id="van_name" name="van_name">
        <label for="reg_plate"> Van Registration Plate:</label>
        <input type="text" id="reg_plate" name="reg_plate">
        <label for="year"> Van Year:</label>
        <input type="text" id="year" name="year">
        <label for="capacity"> Van Capacity:</label>
        <input type="text" id="capacity" name="capacity">
        <label for="type">Van Type:</label>
        <select name="type" id="type">
            <option value="Budget">Budget</option>
            <option value="Luxury">Luxury</option>
            <div>
                <input type="submit">
            </div>
    </form>
</main>

{% endblock %}