{% extends "base.html" %}
{% block content %}

<h2>{{ van.van_name }} Details</h2>
<main id="all_objects">
    <section class=thumbnail>
        <p>Van Reg Plate : {{ van.reg_plate }}</p>
        <p>Van Year: {{ van.year }}</p>
        <p>Van Capacity: {{ van.capacity }}</p>
        <p>Van Type: {{ van.type }}</p>
        <form action="/vans/{{ van.id }}/edit_van">
            <input type="submit" value="Edit Van"></input>
        </form>
        <form action="/vans/{{ van.id }}/delete" method="POST">
            <input type="submit" value="Delete">
        </form>
        {% if van.type == 'Budget' %}
        <img src="{{url_for('static', filename='img/budget_van.jpeg')}}" />
        {% else %}
        <img src="{{url_for('static', filename='img/luxury_van.jpeg')}}" />
        {% endif %}
    </section>
</main>

{% endblock %}