main {
    font-family: "Abel", sans-serif;
    align-items: center;
    margin: 1rem;
}

body {
    margin: 0;
    width: auto;
}

footer {
    grid-area: footer;
    display: flex;
    background-color: rgb(255, 204, 110);
    font-family: "Abel", sans-serif;
    justify-content: space-evenly;
    position: static;
    bottom: 0;
    width: 100%;
}

#footer-menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    font-family: "Abel", sans-serif;
}

footer>nav>ul>li {
    color: black;
    text-decoration: bold;
    padding-left: 1rem
}

footer>nav>ul>li>a {
    color: black;
    text-decoration: bold;
}

.header {
    grid-area: header;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: orange;
    margin: 0;
    padding: 1rem;
    font-family: "Abel", sans-serif;
}

.header>nav>ul {
    display: flex;
    list-style: none;
}

.header>nav>ul>li {
    padding: 1rem;
    font-size: 1.5rem;
}
.header > nav > ul > li > a:hover {
    font-size: larger;
  }


.menu>li>a {
    color: black;
    text-decoration: bold;
}

h1 {
    text-align: center;
    font-family: "Abel", sans-serif;
}

h2 {
    text-align: center;
    font-family: "Abel", sans-serif;
}

.thumbnail {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    align-items: center;
    margin: 0.5rem;
    width: 20%;
    border-radius: 10%;
    background-color: rgb(255, 214, 139);
}

#all_objects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: flex-start;
}

.thumbnail>h3 {
    text-decoration: bold;
    font-size: larger;
    text-align: center;
    margin: 2rem;
}

form {
    display: flex;
    flex-direction: column;
}

.image_gallery {
    display: grid;
    grid-template: auto/ auto auto auto auto;
    grid-gap: 10px;
}
.image_gallery>img {
    width: 300px;
    height: 100%;
    object-fit: cover;
}

.image_gallery>img:hover{
    zoom: 200%
}


.homepage-gallery{
    display: grid;
    grid-template: auto/ auto auto auto auto;
    grid-gap: 5px;
    justify-content: center
}

.homepage-gallery>img {
    width: 200px;
    height: 100%;
}
.homepage-gallery>img:hover{
    zoom: 200%
}

.main {
    grid-area: main;
    text-align: center;
}

.aside {
    font-family: "Abel", sans-serif;
    grid-area: aside;
    background-color: rgb(255, 220, 200);
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}

.aside>p>a {
    color: black;
    text-decoration: none;
    list-style: none;
    line-height: 2rem;
    padding: 0.5rem;
    background-color: orange;
    border-radius: 10%;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto auto 150px;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header header"
        "main main main main aside"
        "footer footer footer footer footer";
}

#rental_options {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    align-items: center;
    height: max-content;
    margin: 0.5rem;
    width: 20%;
    border-radius: 10%;
    background-color: rgb(255, 214, 139);
}

.new_form {
    margin-left: 30%;
    margin-right: 30%;
}

.new_form > label {
    padding-top: 1rem;
}

.new_form > select {
    height:2rem;
}
.new_form > input {
    height:2rem;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ffae00;
}

#center{
    display: flex;
    flex-direction: column;
    align-items: center
}