main{
    font-family: "Abel", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}
.menu {
    display: flex;
    justify-content: space-around;
    list-style: none;   
    background-color: orange;
    margin: 0;
    padding: 2rem;
    font-family: "Abel", sans-serif;
}
.menu>li>a{
    color: black;
    text-decoration:bold;
}
h1{
    text-align: center;
    font-family: "Abel", sans-serif;
}
h2{
    text-align: center;
    font-family: "Abel", sans-serif;
}

.thumbnail{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: black;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    padding-top: 2%;
    margin:5%;
    align-items: center;
}

#all_objects{
    display: flex;
    justify-content: space-around;
    padding:5%;
}

.thumbnail > h3{
    text-decoration: bold;
    font-size: larger;
    text-align: center;
    margin:4rem;
}
form{
    display: flex;
    flex-direction: column;
}