{% extends "base.html" %}
{% block content %}


<main>
    <h2>All Wheelie Wild Rentals</h2>
    <section>
        <h3>Vans Currently Booked</h3>
        
    </section>

    <section id="all_objects">
        {% for rental in rentals %}
        <section class=thumbnail>
            <h3><a href="/rentals/{{ rental.id }}">Rental {{ rental.id }}</a></h3>
            <p>Customer Name: {{ rental.customer.customer_name }} </p>
            <p>Van Rented: {{ rental.van.van_name }}</p>
            <p>Rental Start Date: {{ rental.start_date_in_words() }} </p>
            <p>Rental End Date: {{ rental.end_date_in_words() }} </p>
            <p>Trip Duration (nights): {{ rental.trip_duration () }} </p>
            <form action="/rentals/{{ rental.id }}/edit_rental">
                <input type="submit" value="Edit Rental"></input>
            </form>
            <form action="/rentals/{{ rental.id }}/delete" method="POST">
                <input type="submit" value="Delete">
            </form>
        </section>

    </section>
    {% endfor %}
    <section>

        <h2> Add A New Rental</h2>
        <form action="/rentals/new">
            <input type="submit" value="New Rental">
        </form>
    </section>

    </section>

</main>
{% endblock %}