{% extends "base.html" %}
{% block content %}

<h2>Add a New Rental</h2>

<form action="/rentals/new" method="POST">
        <label for="customer">Customer:</label>
        <select name="customer_id" id="customer">
        {% for customer in customers %}
            <option value="{{ customer.id }}">
                {{ customer.customer_name }}
            </option>
            {% endfor %}
        </select>
        <label for="van">Van:</label>
        <select name="van_id" id="van">
            {% for van in vans %}
            <option value="{{ van.id }}">
                {{ van.van_name }}
            </option>
            {% endfor %}
        </select>
    <label for="start_date">Start Date:</label>
    <input type="date" id="start_date" name="start_date" min="{{ date.now() }}">
    <label for="end_date"> End Date :</label>
    <input type="date" id="end_date" name="end_date">
    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}