<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
  <title>Wheelie Wild Campervans</title>
</head>

<body class="grid">
  <header class="header">
    <a href="/"><img src="{{url_for('static', filename='img/wheelie-logo.png')}}" alt="wheelie wild campervan logo"
        height="100px"></a>
    <nav>
      <ul>
        <li><a href="/"> Home </a></li>
        <li><a href="/vans"> Vans </a></li>
        <li><a href="/customers"> Customers </a></li>
        <li><a href="/rentals">Rentals</a></li>
      </ul>
    </nav>
  </header>
  <main class="main">
    <content class="content">
      {% block content %}
      {% endblock %}
    </content>
  </main>
  <aside class="aside">
        <h3>Shortcuts</h3>
        <p><a href="/customers/new"> New Customer </a></p>
        <p><a href="/vans/new "> New Van </a></p>
        <p><a href="/rentals/new">New Rental</a></p>
      </ul>
    </nav>
  </aside>
  <footer>
    <p> &#169 Wheelie Wild Campervans </p>
  </footer>
</body>

</html>