{% extends "base.html" %}

{% block content %}
<h1>Wheelie Wild Campervans</h1>

<main>
    <section>
        <h2>Campervan Rental Management System</h2>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis autem, quaerat soluta eum consequuntur
            sunt hic, eligendi fugit necessitatibus corrupti aperiam illum optio qui ducimus at explicabo deleniti,
            dolorum temporibus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, tempora reprehenderit magni quibusdam
            corrupti ad qui commodi! Sunt, delectus a, in quam doloribus inventore itaque, placeat minima quibusdam
            fugit id. </p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae nihil cupiditate laudantium molestiae
            expedita alias quas sapiente quam ab aut nisi, quis, facere molestias enim delectus ea ratione, totam harum.
        </p>
    </section>
</main>
{% endblock %}