{% extends "base.html" %}

{% block content %}
<h1>Wheelie Wild Campervans</h1>

<main>
    <section>
        <h2>Campervan Rental Management System</h2>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis autem, quaerat soluta eum consequuntur
            sunt hic, eligendi fugit necessitatibus corrupti aperiam illum optio qui ducimus at explicabo deleniti,
            dolorum temporibus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, tempora reprehenderit magni quibusdam
            corrupti ad qui commodi! Sunt, delectus a, in quam doloribus inventore itaque, placeat minima quibusdam
            fugit id. </p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae nihil cupiditate laudantium molestiae
            expedita alias quas sapiente quam ab aut nisi, quis, facere molestias enim delectus ea ratione, totam harum.
        </p>
    </section>
    <section class="homepage-gallery">
        <img src="{{url_for('static', filename='img/luxury_van3.jpeg')}}" alt="luxury campervan" />
            <img src="{{url_for('static', filename='img/luxury_van4.jpeg')}}" alt="luxury campervan" />
            <img src="{{url_for('static', filename='img/luxury_van5.jpeg')}}" alt="luxury campervan" />
            <img src="{{url_for('static', filename='img/luxury_van6.jpeg')}}" alt="luxury campervan" />
            <img src="{{url_for('static', filename='img/budget_van.jpeg')}}" alt="budget campervan" />
            <img src="{{url_for('static', filename='img/budget_van2.jpeg')}}" alt="budget campervan" />
            <img src="{{url_for('static', filename='img/budget_van3.jpeg')}}" alt="budget campervan" />
            <img src="{{url_for('static', filename='img/budget_van4.jpeg')}}" alt="budget campervan" />
    </section>
</main>
{% endblock %}